<h1>Редактировать {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="form-edit">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{course.title}}" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" value="{{course.price}}" required>
        <label for="price">Цена</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field">
        <input id="img" name="image" type="text" class="validate" value="{{course.image}}" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn">Редактировать курс</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn red">Удалить курс</button>
</form>